*{
    margin: 0%;
    padding: 0%;
    border: 0px;
}
/*Ambar*/

h1 {
    color: #2ff598;
}
header{
    width: 100%;
    height: 705px;
    background-color: #eff79a;
}
#slo{
    width:100;
    height:50px;
    background-color: antiquewhite;
}

/*Ambar*/
#section1{
    width: 100%;
    height: 500px;
    background-color: #7ecc77;
}
#section12{
    width: 100%;
    height: 500px;
    background-color: #aff1a9;
}
#section3{
    width: 100%;
    height: 500px;
    background-color: #77b8cc;
}
#section4{
    width: 100%;
    height: 500px;
    background-color: #d85cbd;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #df6060;
}