@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Handlee&family=Pacifico&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------- HERO ----------- */
#vp{
    position: relative;      
    width: 100%;
    min-height: 705px; 
    background-image:url(../img/bg2.png);  
    background-size: cover;
    background-attachment: fixed;   
}

#vp video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;     
    transform: translate(-50%, -50%);
    z-index: -1;            
}

#ban, header, #textoo {
    position: relative;
    z-index: 1;              
    color: black;           
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
}

/* ESPACIO */
section{
    margin-top:70px;
}

/* ----------- HEADER ----------- */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#logo{
    width: 200px;
    display: flex;
    justify-content: center;
}

#log{
    width: 150px;
}

/* NAV */
.nav{
    display: flex;
    align-items: center;
}

.logo img{
    width:150px;
}

nav ul li a{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: black;
    text-decoration: none;
}

nav ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* TEXTO HERO */
#textoo{
    max-width: 1000px;
    width: 100%;
    padding: 50px;
}

#vpH{
    font-size: 70px;
    font-family:"Nunito", sans-serif;
    font-weight: 900;
}

#slogan{
    font-size: 25px;
    font-family:"Nunito", sans-serif;
}

/* ----------- NOTICIAS ----------- */
#noti{
    width: 100%;
    padding: 50px 0;
}

#notii{
    font-size:40px;
    text-align: center;
    font-family: "Coiny", system-ui;
}

#traba{
    font-size:20px;
    font-family: "Handlee", cursive;
    text-align: center;
    padding: 20px;
}

#imagen{
    background-image: url(../img/impre9.png);
    background-size: cover;
    background-attachment: fixed;
    height:400px;
}

/* NOTICIAS */
#noticias{
    text-align:center;
    padding:40px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

/* EFECTO */
.card.activo{
    transform:scale(1.1);
}

/* IMAGEN FINAL */
#imagenn{
    background-image: url(../img/impre8.jpg);
    background-size: cover;
    background-attachment: fixed;
    height:400px;
}

/* ----------- FOOTER ----------- */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.cajon1{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#logo1{
    width: 150px;
}

.redes {
    display: flex;
    gap: 10px;
}

.icono {
    width: 25px;
}

/* LINKS */
a{
    text-decoration: none;
    color: black;
}

/* CONTACTO */
#contacto{
    text-align:center;
    background:var(--negro);
    color:white;
    padding:50px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .cards{
        flex-direction:column;
        align-items:center;
    }

    .hola{
        width: 90%;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .cajon1{
        width: 100%;
    }
}

/* 📲 TABLET */
@media (min-width: 769px) and (max-width: 1024px){

    .hola{
        width: 45%;
    }

    .cajon1{
        width: 45%;
    }
}

/* 💻 PC */
@media (min-width: 1025px){

    .hola{
        width: 30%;
    }
}