@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    width: 340px;
    padding: 50px 55px;
    box-shadow: 0px 0px 20px rgba(0,0,0);
    text-align: center;
}


.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}


h2{
    color: #FDD51D;
    font-size: 35px;
}


label{
    color: #3AB2E6;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}


input , textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:#3AB2E6;
    border: 2px solid #E93A78;
    outline: none;
}


input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

input[type="text"],
        input[type="number"],
        input[type="file"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #3AB2E6;
            border-radius: 6px;
        }

        .radio-group {
            margin-top: 5px;
        }

        .radio-group input {
            margin-right: 5px;
        }



.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.form-txt a{
    color: #E93A78;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}


.btn{
    font-size: 16px;
    color: #ffff;
    border: 0px;
    border-radius: 25px;
    background-color: #E93A78;
    box-shadow: #FDD51D;
    cursor: pointer;
}


.btn:hover{
    background-color: #3AB2E6;
}


@media (max-width: 991px)  {


    body{
        padding: 30px;
    }


    form{
        padding: 50px 30px;
        width: 100%;
    }


    input{
        padding: 15px;
    }
}